
/* ----------------------------------------------------------------------------------------------------

CSSGrid is a Responsive CSS Grid designed to work on web and mobile devices. (www.cssgrid.co)
Please don't steal. Support this grid and buy a license from: http://codecanyon.net/item/responsive-html5-css-grid/4928861?ref=human1nt

---------------------------------------------------------------------------------------------------- */

/*
	Columns Fixed (f)
*/

.f1 /* set margins below all boxes, just for display purposes */
{
	padding-bottom:10px;
}
.f2,
.f3
{
	padding-bottom:7px;
}
.f4
{
	padding-bottom:6px;
}
.f5 {
	padding-bottom:3px;
}
.f6 {
	padding-bottom:4px;
}
.f7 {
	padding-bottom:6px;
}
.f8 {
	padding-bottom:2px;
}


.f1, /* outer div width */
.f2,
.f3,
.f4,
.f5,
.f6,
.f7,
.f8 {
	width:302px;
}


.f1 .one {
	width:100%;
}


.f2 .one {
	width:146px;
	float:left;
}
.f2 .two {
	width:146px;
	/*
	To set the correct position for the last column, add up all columns to the left and add on the padding.
	In this case: 146 + 10 = 156
	*/
	margin-left:156px;
}


.f3 .one {
	width:96px;
	float:left;
}
.f3 .one-two {
	width:199px;
	margin-left:0px;
	float:left;
}
.f3 .two {
	width:96px;
	margin-left:7px;
	float:left;
}
.f3 .two-three {
	width:199px;
	margin-left:103px;
}
.f3 .three {
	width:96px;
	/*
	To set the correct position for the last column, add up all columns to the left and add on the padding.
	In this case: 96 x 2 + 7 + 7 = 206
	*/
	margin-left:206px;
}


.f4 .one {
	width:71px;
	float:left;
}
.f4 .one-two {
	width:148px;
	float:left;
}
.f4 .one-three {
	width:225px;
	float:left;
}
.f4 .two {
	width:71px;
	margin-left:6px;
	float:left;
}
.f4 .two-three {
	width:148px;
	margin-left:6px;
	float:left;
}
.f4 .two-four {
	width:225px;
	margin-left:77px;
}
.f4 .three {
	width:71px;
	margin-left:6px;
	float:left;
}
.f4 .three-four {
	width:148px;
	margin-left:154px;
}
.f4 .four {
	width:71px;
	margin-left:231px;
}


.f5 .one {
	width:58px;
	float:left;
}
.f5 .one-two {
	width:119px;
	float:left;
}
.f5 .one-three {
	width:180px;
	float:left;
}
.f5 .one-four {
	width:241px;
	float:left;
}
.f5 .two {
	width:58px;
	float:left;
	margin-left:3px;
}
.f5 .two-three {
	width:119px;
	float:left;
	margin-left:3px;
}
.f5 .two-four {
	width:180px;
	margin-left:3px;
	float:left;
}
.f5 .two-five {
	width:241px;
	margin-left:61px;
}
.f5 .three {
	width:58px;
	float:left;
	margin-left:3px;
}
.f5 .three-five {
	width:180px;
	margin-left:122px;
}
.f5 .four {
	width:58px;
	float:left;
	margin-left:3px;
}
.f5 .four-five {
	width:119px;
	margin-left:183px;
}
.f5 .five {
	width:58px;
	margin-left:244px;
}


.f6 .one {
	width:47px;
	float:left;
}
.f6 .one-two {
	width:98px;
	float:left;
}
.f6 .one-three {
	width:149px;
	float:left;
}
.f6 .one-four {
	width:200px;
	float:left;
}
.f6 .one-five {
	width:251px;
	float:left;
}
.f6 .two {
	width:47px;
	float:left;
	margin-left:4px;
}
.f6 .two-three {
	width:98px;
	float:left;
	margin-left:4px;
}
.f6 .two-four {
	width:149px;
	float:left;
	margin-left:4px;
}
.f6 .two-five {
	width:200px;
	float:left;
	margin-left:4px;
}
.f6 .two-six {
	width:251px;
	margin-left:51px;
}
.f6 .three {
	width:47px;
	float:left;
	margin-left:4px;
}
.f6 .three-four {
	width:98px;
	float:left;
	margin-left:4px;
}
.f6 .three-five {
	width:149px;
	float:left;
	margin-left:4px;
}
.f6 .three-six {
	width:200px;
	margin-left:102px;
}
.f6 .four {
	width:47px;
	float:left;
	margin-left:4px;
}
.f6 .four-five {
	width:98px;
	float:left;
	margin-left:4px;
}
.f6 .four-six {
	width:149px;
	margin-left:153px;
}
.f6 .five {
	width:47px;
	float:left;
	margin-left:4px;
}
.f6 .five-six {
	width:98px;
	margin-left:204px;
}
.f6 .six {
	width:47px;
	margin-left:255px;
}


.f7 .one {
	width:38px;
	float:left;
}
.f7 .one-two {
	width:82px;
	float:left;
}
.f7 .one-three {
	width:126px;
	float:left;
}
.f7 .one-four {
	width:170px;
	float:left;
}
.f7 .one-five {
	width:214px;
	float:left;
}
.f7 .one-six {
	width:258px;
	float:left;
}
.f7 .two {
	width:38px;
	float:left;
	margin-left:6px;
}
.f7 .two-three {
	width:82px;
	float:left;
	margin-left:6px;
}
.f7 .two-four {
	width:126px;
	float:left;
	margin-left:6px;
}
.f7 .two-five {
	width:170px;
	float:left;
	margin-left:6px;
}
.f7 .two-six {
	width:214px;
	float:left;
	margin-left:6px;
}
.f7 .two-seven {
	width:258px;
	margin-left:44px;
}
.f7 .three {
	width:38px;
	float:left;
	margin-left:6px;
}
.f7 .three-four {
	width:82px;
	float:left;
	margin-left:6px;
}
.f7 .three-five {
	width:126px;
	float:left;
	margin-left:6px;
}
.f7 .three-six {
	width:170px;
	float:left;
	margin-left:6px;
}
.f7 .three-seven {
	width:214px;
	margin-left:88px;
}
.f7 .four {
	width:38px;
	float:left;
	margin-left:6px;
}
.f7 .four-five {
	width:82px;
	float:left;
	margin-left:6px;
}
.f7 .four-seven {
	width:170px;
	margin-left:132px;
}
.f7 .five {
	width:38px;
	float:left;
	margin-left:6px;
}
.f7 .five-seven {
	width:126px;
	margin-left:176px;
}
.f7 .six {
	width:38px;
	float:left;
	margin-left:6px;
}
.f7 .six-seven {
	width:82px;
	margin-left:220px;
}
.f7 .seven {
	width:38px;
	margin-left:264px;
}


.f8 .one {
	width:36px;
	float:left;
}
.f8 .one-two {
	width:74px;
	float:left;
}
.f8 .one-three {
	width:112px;
	float:left;
}
.f8 .one-four {
	width:150px;
	float:left;
}
.f8 .one-five {
	width:188px;
	float:left;
}
.f8 .one-six {
	width:226px;
	float:left;
}
.f8 .one-seven {
	width:264px;
	float:left;
}
.f8 .two {
	width:36px;
	float:left;
	margin-left:2px;
}
.f8 .two-three {
	width:74px;
	float:left;
	margin-left:2px;
}
.f8 .two-four {
	width:112px;
	float:left;
	margin-left:2px;
}
.f8 .two-five {
	width:150px;
	float:left;
	margin-left:2px;
}
.f8 .two-six {
	width:188px;
	float:left;
	margin-left:2px;
}
.f8 .two-seven {
	width:226px;
	float:left;
	margin-left:2px;
}
.f8 .two-eight {
	width:264px;
	margin-left:38px;
}
.f8 .three {
	width:36px;
	float:left;
	margin-left:2px;
}
.f8 .three-four {
	width:74px;
	float:left;
	margin-left:2px;
}
.f8 .three-five {
	width:112px;
	float:left;
	margin-left:2px;
}
.f8 .three-six {
	width:150px;
	float:left;
	margin-left:2px;
}
.f8 .three-seven {
	width:188px;
	float:left;
	margin-left:2px;
}
.f8 .three-eight {
	width:226px;
	margin-left:76px;
}
.f8 .four {
	width:36px;
	float:left;
	margin-left:2px;
}
.f8 .four-five {
	width:74px;
	float:left;
	margin-left:2px;
}
.f8 .four-six {
	width:112px;
	float:left;
	margin-left:2px;
}
.f8 .four-seven {
	width:150px;
	float:left;
	margin-left:2px;
}
.f8 .four-eight {
	width:188px;
	margin-left:114px;
}
.f8 .five {
	width:36px;
	float:left;
	margin-left:2px;
}
.f8 .five-six {
	width:74px;
	float:left;
	margin-left:2px;
}
.f8 .five-seven {
	width:112px;
	float:left;
	margin-left:2px;
}
.f8 .five-eight {
	width:150px;
	margin-left:152px;
}
.f8 .six {
	width:36px;
	float:left;
	margin-left:2px;
}
.f8 .six-seven {
	width:74px;
	float:left;
	margin-left:2px;
}
.f8 .six-eight {
	width:112px;
	margin-left:190px;
}
.f8 .seven {
	width:36px;
	float:left;
	margin-left:2px;
}
.f8 .seven-eight {
	width:74px;
	margin-left:228px;
}
.f8 .eight {
	width:36px;
	margin-left:266px;
}