/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:auto;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:auto;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	right:0px;
	top:0px;
	bottom:0;
	background:#fff;
	color:#000;
	opacity:0.9; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
	width:220px;
}
.nivo-caption p {
	padding:15px 10px 20px 10px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	bottom:0;
	left:760px;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*
nivo slider
*/

.slider-wrapper {
	padding:0;
	overflow:hidden;
	margin-bottom:20px;
}
.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../images/nivoslider/loading.gif) no-repeat 50% 50%;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-42px;
	left:1%;
	bottom:0;
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/nivoslider/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav {
    bottom: 0;
    left: 720px;
    position: absolute;
}

.theme-default .nivo-directionNav a {
    background: url("../images/nivoslider/bg_direction_nav.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 33px;
    left: 0;
    position: relative;
    right: 0;
    width: 33px;
	text-indent: -9999px;
}
.theme-default .nivo-directionNav a.nivo-nextNav {
    background-position: -33px 0;
}
.theme-default a.nivo-prevNav {
	/*left:15px;*/
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    border-bottom:1px dotted #fff;
}

