
/* ----------------------------------------------------------------------------------------------------

CSSGrid is a Responsive CSS Grid designed to work on web and mobile devices. (www.cssgrid.co)
Please don't steal. Support this grid and buy a license from: http://codecanyon.net/item/responsive-css-grid/4928861

---------------------------------------------------------------------------------------------------- */

/*
	All columns stacked to 2 columns
*/

.f8 {
	padding-bottom:10px;
}


.f2.stack .one,
.p2.stack .one {
	width:50%;
	margin-bottom:0px;
	float:left;
}
.f2.stack .two,
.p2.stack .two {
	width:50%;
	margin-left:50%;
}


.f4.stack .one,
.p4.stack .one {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f4.stack .one-two,
.p4.stack .one-two {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f4.stack .one-three,
.p4.stack .one-three {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f4.stack .two,
.p4.stack .two {
	width:49%;
	float:none;
	margin-left:51%;
	margin-bottom:10px;
}
.f4.stack .two-three,
.p4.stack .two-three {
	width:49%;
	float:none;
	margin-bottom:0px;
	margin-left:51%;
	margin-bottom:10px;
}
.f4.stack .two-four,
.p4.stack .two-four {
	width:49%;
	float:none;
	margin-left:51%;
}
.f4.stack .three,
.p4.stack .three {
	width:49%;
	float:left;
	margin-left:0px;
	clear:both;
	margin-bottom:10px;
}
.f4.stack .three-four,
.p4.stack .three-four {
	width:49%;
	float:none;
	margin-left:51%;
}
.f4.stack .four,
.p4.stack .four {
	width:49%;
	float:left;
	margin-left:2%;
	margin-bottom:10px;
}


.f6.stack .one,
.p6.stack .one {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f6.stack .one-two,
.p6.stack .one-two {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f6.stack .one-three,
.p6.stack .one-three {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f6.stack .one-four,
.p6.stack .one-four {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f6.stack .one-five,
.p6.stack .one-five {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f6.stack .two,
.p6.stack .two {
	width:49%;
	float:none;
	margin-left:51%;
	margin-bottom:10px;
}
.f6.stack .two-three,
.p6.stack .two-three {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:10px;
}/*
.f6.stack .two-four,
.p6.stack .two-four {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
.f6.stack .two-five,
.p6.stack .two-five {
	width:49%;
	float:left;
	margin-left:2%;
	margin-bottom:0px;
	margin-bottom:10px;
}
.f6.stack .two-six,
.p6.stack .two-six {
	width:49%;
	float:none;
	margin-left:51%;
}
.f6.stack .three,
.p6.stack .three {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f6.stack .three-four,
.p6.stack .three-four {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:10px;
}
/*.f6.stack .three-five,
.p6.stack .three-five {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
.f6.stack .three-six,
.p6.stack .three-six {
	width:49%;
	float:none;
	margin-left:51%;
}
.f6.stack .four,
.p6.stack .four {
	width:49%;
	float:none;
	margin-left:51%;
	margin-bottom:10px;
}
/*.f6.stack .four-five,
.p6.stack .four-five {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
.f6.stack .four-six,
.p6.stack .four-six {
	width:49%;
	float:none;
	margin-left:51%;
}
.f6.stack .five,
.p6.stack .five {
	width:49%;
	float:left;
	margin-left:0px;
}
.f6.stack .five-six,
.p6.stack .five-six {
	width:49%;
	float:none;
	margin-left:51%;
}
.f6.stack .six,
.p6.stack .six {
	width:49%;
	float:none;
	margin-left:51%;
}


.f8.stack .one,
.p8.stack .one {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f8.stack .one-two,
.p8.stack .one-two {
	width:49%;
	float:left;
	margin-left:0px;
}
.f8.stack .one-three,
.p8.stack .one-three {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
.f8.stack .one-four,
.p8.stack .one-four {
	width:49%;
	float:left;
	margin-left:0px;
}
.f8.stack .one-five,
.p8.stack .one-five {
	width:49%;
	float:left;
	margin-left:0px;
}
.f8.stack .one-six,
.p8.stack .one-six {
	width:49%;
	float:left;
	margin-left:0px;
}
.f8.stack .one-seven,
.p8.stack .one-seven {
	width:49%;
	float:left;
	margin-left:0px;
}
.f8.stack .two,
.p8.stack .two {
	width:49%;
	float:none;
	margin-left:51%;
	margin-bottom:10px;
}
/*.f8.stack .two-three,
.p8.stack .two-three {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .two-four,
.p8.stack .two-four {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .two-five,
.p8.stack .two-five {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .two-six,
.p8.stack .two-six {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .two-seven,
.p8.stack .two-seven {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
.f8.stack .two-eight,
.p8.stack .two-eight {
	width:49%;
	float:none;
	margin-left:51%;
}
.f8.stack .three,
.p8.stack .three {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
/*.f8.stack .three-four,
.p8.stack .three-four {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .three-five,
.p8.stack .three-five {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .three-six,
.p8.stack .three-six {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .three-seven,
.p8.stack .three-seven {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
.f8.stack .three-eight,
.p8.stack .three-eight {
	width:49%;
	float:none;
	margin-left:51%;
}
.f8.stack .four,
.p8.stack .four {
	width:49%;
	float:none;
	margin-left:51%;
	margin-bottom:10px;
}
/*.f8.stack .four-five,
.p8.stack .four-five {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .four-six,
.p8.stack .four-six {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .four-seven,
.p8.stack .four-seven {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
.f8.stack .four-eight,
.p8.stack .four-eight {
	width:49%;
	float:none;
	margin-left:51%;
}
.f8.stack .five,
.p8.stack .five {
	width:49%;
	float:left;
	margin-left:0px;
	margin-bottom:10px;
}
/*.f8.stack .five-six,
.p8.stack .five-six {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
/*.f8.stack .five-seven,
.p8.stack .five-seven {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
.f8.stack .five-eight,
.p8.stack .five-eight {
	width:49%;
	float:none;
	margin-left:51%;
}
.f8.stack .six,
.p8.stack .six {
	width:49%;
	float:none;
	margin-left:51%;
	margin-bottom:10px;
}
/*.f8.stack .six-seven,
.p8.stack .six-seven {
	width:49%;
	float:none;
	margin-left:0px;
	margin-bottom:0px;
}*/
.f8.stack .six-eight,
.p8.stack .six-eight {
	width:49%;
	float:none;
	margin-left:51%;
}
.f8.stack .seven,
.p8.stack .seven {
	width:49%;
	float:left;
	margin-left:0px;
}
.f8.stack .seven-eight,
.p8.stack .seven-eight {
	width:49%;
	float:none;
	margin-left:51%;
}
.f8.stack .eight,
.p8.stack .eight {
	width:49%;
	float:none;
	margin-left:51%;
}



